<?xml version="1.0"?>
<!--
    - Base      : create_2
    - Stacks    : circles
    - 3d Sensor : r200
-->    
<robot name="turtlebot" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find turtlebot_description)/urdf/turtlebot_library.urdf.xacro" />

  <create_2/>
  <stack_hull parent="base_link"/>
  <sensor_med_r200  parent="base_link"/>
  <sensor_med_kinect  parent="base_link"/>
</robot>
